#customScroll::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #0a25401e;
}

#customScroll::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #0a25401e;
}

#customScroll::-webkit-scrollbar-thumb {
  border-radius: 10px;

  background-color: #0a2540;
}
